{% extends 'base.html' %}
{% block top %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>My Tasks</title>
    </head>
{% endblock top %}
{% block content%}
    <main class="project-form">
        <div>
            <h1>My Tasks</h1>
            {% if tasks.all|length == 0 %}
                <p>You have no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>End date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for data in tasks.all %}
                            <tr>
                                <td>{{data.name}}</td>
                                <td>{{data.start_date}}</td>
                                <td>{{data.end_date}}</td>
                                <td>{% if data.is_completed %}
                                    done
                                {% else %}
                                    <form method="post" action="{% url 'complete_task' data.pk %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="is_completed" value="True">
                                        <button>Complete</button>
                                    </form></td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
{% endblock content%}