{% extends 'base.html' %}
{% load markdownify %}
{% block top %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Project Details</title>
    </head>
{% endblock top %}
{% block content%}
    <header>
        <nav>
            <ul>
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'create_project' %}">Create a new project</a>
                    </li>
                {% else %}
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        <div>
            <h1>{{ projects.name }}</h1>
            <p>{{ projects.description | markdownify }}</p>
            <h2>Tasks</h2>
            {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </li>
            {% endif %}
            {% if projects.tasks.all|length == 0 %}
                <p>This project has no tasks</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </thead>
                    <tbody>
                        {% for task in projects.tasks.all %}
                            <tr>
                                <td>{{task.name}}</td>
                                <td>{{task.assignee}}</td>
                                <td>{{task.start_date}}</td>
                                <td>{{task.due_date}}</td>
                                {% if task.is_completed %}
                                    <td>Yes</td>
                                {% else %}
                                    <td>No</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content%}