{% extends 'base.html' %}
{% block top %}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Tracker</title>
    </head>
{% endblock top %}
{% block content%}
    <main>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a href="{% url 'create_project' %}">Create a new project</a>
                        </li>
                    {% else %}
                    {% endif %}
                </ul>
            </nav>
        </header>
        <div>
            <h1>My Projects</h1>
            {% if not projects %}
                <p>You are not assigned to any projects</p>
            {% else %}
                <table>
                    <thead>
                        <th>Name</th>
                        <th>Number of tasks</th>
                    </thead>
                    <tbody>
                        {% for task in projects %}
                            <tr>
                                <td><a href="{% url 'show_project' task.pk %}">{{task.name}}</td>
                                <td>{{task.tasks.all|length}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content%}